<h2>Seznam klientů</h2>

{snippet list}
    <table>
        <tbody>
            {foreach $clients as $client}
                <tr>
                    <td><a class="ajax" n:href="delete! id=>$client[id]">X</a></td>
                    <td>{$client[name]}</td>
                    <td>{$client[ico]}</td>
                    <td>{$client[email]}</td>
                </tr>
            {/foreach}
        </tbody>
    </table>
{/snippet}