parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	debugger: false
	export:
		parameters: no
		tags: no


services:
	- App\Router\RouterFactory::createRouter
	taskRepository:
		class: App\Models\Repository\TaskRepository
		inject: true

	taskProcessManager:
		factory: App\Models\ProcessManagers\TaskProcessManager("Pohni")
		inject: true

	clientRepository:
		class: App\Models\Repository\ClientsRepository
		inject: true

	clientProcessManager:
		factory: App\Models\ProcessManagers\ClientsProcessManager
		inject: true

	fileProcessManager:
	    factory: App\Models\ProcessManagers\FilesProcessManager
	    inject: true

	fileRepository:
	    factory: App\Models\Repository\FilesRepository
	    inject: true

	- App\Components\FileSystem\FileSystemFactory
	fileSystem:
		class: App\Components\FileSystem\FileSystem
		inject: true
		autowired: false
