<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Nette Web</title>
</head>

<body>

<h1>Ahoj</h1>
<h3>Aktuální datum {$date}</h3>

<div>
	<p><a n:href="Task:default">Jdi na vylepšený seznam</a></p>
	<p><a n:href="Clients:default">Jdi na výpis klientů</a></p>
	</div>


<div class="myForm">
	{control myForm}
</div>
<ul>
	{foreach $items as $item}
	<li>
		<a n:href="setEditMode! id=>$item[id]">{$item[label]}</a>
		<a href="{link delete! id=>$item[id]}">X</a>
	</li>
	{/foreach}
</ul>

<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
</body>
</html>