{block content}

    <div>
        <p><a n:href="Homepage:default">Zpět na homepage</a></p>
    </div>

    <div>
        {control formUpload}
    </div>




<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
{/block}