{block content}

    <div>
        <p><a n:href="default">Zpět na výpis klientů</a></p>
    </div>

    <div class="clientForm">
		<h3>Založení nového klienta</h3>
        {control clientForm}
    </div>

	<div class="personForm">
		<h3>Založenie kontaktnej osoby</h3>
		{control personForm}
	</div>

{/block}